body {
    margin: 0;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}
.custom-menu-icon svg{
    height: 30px;
    width: 30px;
    color: #757575;
}
.blue-color{
    color: #0957d7 !important;
}
.red-color{
    color: red !important;
}
.yellow-color{
    color: yellow !important;
}
.error-message{
    color: red;
    font-size: 14px ;
    line-height: 16px;
    position: absolute;
}
@media (max-width: 900px) {
    .error-message{
        color: red;
        font-size: 10px ;
        line-height: 12px;
        bottom: -30px;
    }
}